h1 {
    text-align: center;
}
.board {
    background-color: rgb(154, 175, 212);
    margin: auto;
    display: grid;
    width: 550px;
    height: 550px;
    grid-template-rows: 33.3% 33.3% 33.3%;
}
.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.center {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.top, .mid, .bot {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.mid {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}